

#formInfo {
    margin: 0.5rem auto;
    max-width: 1000px;
    padding: 1rem;
    border: 1px solid black;
    background-color: var(--light-text-color2);
    border-radius: 0.5rem;
}

#formInfo p {
    padding: 0.2rem;
}

main b {
    padding: 0.5rem 1rem;
    text-align: center;
    display: block;
}