* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
}

:root {
    /* This is for the varibles */
    --primary-color: rgb(21, 65, 21);
    --secondary-color: rgb(17, 44, 29);
    --accent-color: rgb(176, 224, 161);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tagesschrift", sans-serif;
}

ul {
    list-style-position: inside; /* Aligns bullets inside contents */
}

/* ---------------------- Header CSS ---------------------- */

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

header .title-name {
    color: var(--accent-color);
    font-family: "Tagesschrift", sans-serif;
    align-self: center;
    margin-right: 1rem;
    font-size: 2em;
}

header img {
    box-shadow: 0 0 10px black;
    margin: 1rem;
}

/* ---------------------- Nav Button CSS ---------------------- */

#menu-button {
    display: none;
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    padding: 1rem;
    padding-top: 0;
    cursor: pointer;
    color: var(--accent-color);
}

#menu-button::before {
    content: "≡";
}

/* ---------------------- Nav CSS ---------------------- */

nav div {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
}

nav a:hover {
    background-color: black;
}

nav a.located {
    background-color: black;
    color: var(--accent-color);
}

/* ---------------------- CSS ---------------------- */

.page-title {
    margin: 0.5rem 0.5rem 0 1rem;
    color: var(--primary-color);
}

main {
    max-width: 2000px;
    margin: 0 auto;
}

/* ---------------------- Base Card CSS ---------------------- */

.card-grid {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.card {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 0 0.5rem black;
    overflow: hidden;
}

.card h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    font-weight: 200;
    padding: 0.3rem;
}

/* ---------------------- Course Card CSS ---------------------- */

.course-work ul {
    margin: 1rem;
}

.course-work li {
    padding: 0.3rem;
}

/* ---------------------- Omaha Card CSS ---------------------- */

.omaha figure {
    text-align: center;
    padding: 1rem;
}

.omaha figure img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.omaha figcaption {
    padding: 0.3rem;
}

/* ---------------------- Certificates Card CSS ---------------------- */

.certificates {
    grid-column: span 2;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid gray;
}

.buttons button {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: black;
}

.buttons button.selected {
    box-shadow: 0 0 5px black;
    background-color: black;
    color: var(--accent-color);
}

.certificates i {
    text-align: center;
    display: block;
    padding-top: 0.5rem;
}

#courses-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    justify-content: space-evenly;
    gap: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

#courses-div p {
    padding: 0.5rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

#courses-div p.completed-course {
    background-color: var(--accent-color);
}

/* ---------------------- Footer CSS ---------------------- */

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
}