@media screen and (max-width: 600px) {

    /* ---------------------- Nav CSS ---------------------- */

    nav div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease-out;
    }

    nav.show {
        max-height: 1000px;
    }

    /* ---------------------- Nav Button CSS ---------------------- */

    #menu-button {
        display: block;
    }

    #menu-button.show {
        color: red;
    }

    #menu-button.show::before {
        content: "X";
    }

    /* ---------------------- Base Card CSS ---------------------- */
    
    .card-grid {
        display: flex;
        flex-direction: column;
    }

    .card {
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

}

@media screen and (max-width: 350px) {

    /* ---------------------- Nav Button CSS ---------------------- */

    #menu-button {
        position: relative;
        margin-top: -0.8rem;
    }

}